In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
#uploading the files from local storage to cloud
print("Upload your data\n")
uploaded = files.upload()

Upload your data

In [ ]:
# List of file names to be combined
file_names = ['data1.xls', 'data2.xls', 'data3.xls', 'data4.xls']

# Read each Excel file and concatenate them into a single DataFrame
combined_data = pd.concat([pd.read_excel(f) for f in file_names])

# Export the combined data as a CSV file
combined_data.to_csv('combined_data.csv', index=False, header = None)

In [ ]:
data=pd.read_csv('combined_data.csv')

In [ ]:
data.head(10)

,organisationunitname,December 2018 Currently on ART - below 1 year,December 2018 Currently on ART - Female above 15 years,December 2018 Currently on ART - Female Below 15 years,December 2018 Currently on ART - Male above 15 years,December 2018 Currently on ART - Male below 15 years,December 2018 MOH 731 On ART_<1 HV03-028,December 2018 MOH 731 On ART_1-9 HV03-029,December 2018 MOH 731 On ART_10-14 (F) HV03-031,December 2018 MOH 731 On ART_10-14(M) HV03-030,December 2018 MOH 731 On ART_15-19 (F) HV03-033,December 2018 MOH 731 On ART_15-19(M) HV03-032,December 2018 MOH 731 On ART_20-24 (F) HV03-035,December 2018 MOH 731 On ART_20-24(M) HV03-034,December 2018 MOH 731 On ART_25+ (F) HV03-037,December 2018 MOH 731 On ART_25+(M) HV03-036
0,Able Medical Clinic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adonai Medical Clinic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFRILIFE HEALTH MEDICAL CLINIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ahmadiya Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alfrose Medical Clinic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Aligula Dispensary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,All Saints Musaa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Alpha Medical Clinic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Alpha Medical Clinic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Alpha Medical Clinic (Butere),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
unpivoted = pd.melt(data, id_vars=["organisationunitname"])

In [ ]:
unpivoted.to_csv('unpivoted_data.csv', index=False)

In [ ]:
unpivoted.head()

,organisationunitname,variable,value
0,Able Medical Clinic,December 2018 Currently on ART - below 1 year,NaN
1,Adonai Medical Clinic,December 2018 Currently on ART - below 1 year,NaN
2,AFRILIFE HEALTH MEDICAL CLINIC,December 2018 Currently on ART - below 1 year,NaN
3,Ahmadiya Hospital,December 2018 Currently on ART - below 1 year,NaN
4,Alfrose Medical Clinic,December 2018 Currently on ART - below 1 year,NaN

In [ ]:
unpivoted.head()

,organisationunitname,variable,value
0,Able Medical Clinic,December 2018 Currently on ART - below 1 year,NaN
1,Adonai Medical Clinic,December 2018 Currently on ART - below 1 year,NaN
2,AFRILIFE HEALTH MEDICAL CLINIC,December 2018 Currently on ART - below 1 year,NaN
3,Ahmadiya Hospital,December 2018 Currently on ART - below 1 year,NaN
4,Alfrose Medical Clinic,December 2018 Currently on ART - below 1 year,NaN

In [ ]:
unpivoted = unpivoted.fillna(0)

In [ ]:
unpivoted.shape

(24465, 3)

In [ ]:
unpivoted.describe()

,organisationunitname,variable,value
count,24465,24465,24465
unique,404,15,458
top,Soy Medical Clinic (Likuyani),December 2018 Currently on ART - below 1 year,0
freq,120,1631,17444

In [ ]:
unpivoted.info

In [ ]:
unpivoted.duplicated().sum()

15367

In [ ]:
unpivoted.duplicated()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [ ]:
unpivoted['organisationunitname'] = pd.to_numeric(unpivoted['organisationunitname'], errors='coerce')

In [ ]:
unpivoted.head(100)

    organisationunitname                                       variable value
0                    NaN  December 2018 Currently on ART - below 1 year     0
1                    NaN  December 2018 Currently on ART - below 1 year     0
2                    NaN  December 2018 Currently on ART - below 1 year     0
3                    NaN  December 2018 Currently on ART - below 1 year     0
4                    NaN  December 2018 Currently on ART - below 1 year     0
..                   ...                                            ...   ...
95                   NaN  December 2018 Currently on ART - below 1 year     0
96                   NaN  December 2018 Currently on ART - below 1 year     0
97                   NaN  December 2018 Currently on ART - below 1 year     0
98                   NaN  December 2018 Currently on ART - below 1 year     0
99                   NaN  December 2018 Currently on ART - below 1 year     0

[100 rows x 3 columns]

In [ ]:
unpivoted.tail(100)

,organisationunitname,variable,value
24365,NaN,December 2018 MOH 731 On ART_25+(M) ...,0
24366,NaN,December 2018 MOH 731 On ART_25+(M) ...,0
24367,NaN,December 2018 MOH 731 On ART_25+(M) ...,0
24368,NaN,December 2018 MOH 731 On ART_25+(M) ...,3
24369,NaN,December 2018 MOH 731 On ART_25+(M) ...,0
...,...,...,...
24460,NaN,December 2018 MOH 731 On ART_25+(M) ...,0
24461,NaN,December 2018 MOH 731 On ART_25+(M) ...,0
24462,NaN,December 2018 MOH 731 On ART_25+(M) ...,0
24463,NaN,December 2018 MOH 731 On ART_25+(M) ...,0
24464,NaN,December 2018 MOH 731 On ART_25+(M) ...,0

In [ ]:
unpivoted = unpivoted[(unpivoted != 0).all(1)]

In [ ]:
unpivoted.describe

In [ ]:
unpivoted.shape

(7021, 3)

In [ ]:
X = data.iloc[:, :-2] # features
y = data.iloc[:, -1] # target variable

In [ ]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Create a Random Forest Classifier object and fit the model
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)